@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  body {
    font-family: Geist Mono, monospace;
  }
  :root {
    --background: 250 250 250;
    --background-secondary: 243 243 243;

    --foreground: 4 4 33;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 250 250 250;
    --popover-border: 234 234 234;
    --popover-foreground: 4 4 33;
 
    --primary: 180 90 0;
    --primary-foreground: 250 250 250;

    --success: 0 150 0;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 155 155 155;
 
    --accent: 234 234 234;
    --accent-foreground: 4 4 33;
 
    --destructive: 200 0 0;
    --destructive-foreground: 250 250 250;

    --border: 234 234 234;

    --scrollbar: 180 180 180;
    --scrollbar-stronger: 140 140 140;

    --input: 234 234 234;
    --ring: 4 4 33;
 
    --radius: 0rem;

    --shadow: 0 0 8;
    --o-shadow-normal: 0.15;
    --o-shadow-strong: 0.25;
  }
 
  .dark {
    --background: 20 20 26;
    --background-secondary: 25 25 36;

    --foreground: 218 218 242;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 30 30 44;
    --popover-border: 42 42 62;
    --popover-foreground: 218 218 242;
 
    --primary: 251 181 166;
    --primary-foreground: 20 20 26;

    --success: 140 215 140;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 138 138 160;
 
    --accent: 33 33 51;
    --accent-foreground: 218 218 242;
 
    --destructive: 255 150 150;
    --destructive-foreground: 20 20 26;
 
    --border: 33 33 51;

    --scrollbar: 60 60 80;
    --scrollbar-stronger: 90 90 115;

    --input: 33 33 51;
    --ring: 218 218 242;

    --shadow: 0 0 8;
    --o-shadow-normal: 0.15;
    --o-shadow-strong: 0.25;
  }


  .loader {
    aspect-ratio: 1;
    --c:no-repeat linear-gradient(rgb(var(--foreground)/1) 0 0);
    background: var(--c), var(--c), var(--c);
    transform: rotate(90deg);
    animation: 
      l18-1 1s infinite,
      l18-2 1s infinite;
  }
  @keyframes l18-1 {
  0%,100% {background-size:20% 100%}
  33%,66% {background-size:20% 20%}
  }
  @keyframes l18-2 {
  0%,33%   {background-position: 0    0,50% 50%,100% 100%}
  66%,100% {background-position: 100% 0,50% 50%,0    100%}
  }

  .loader-background {
    --c:no-repeat linear-gradient(rgb(var(--background)/1) 0 0);
  }
  /* For most browsers */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button:focus-visible, a:focus-visible {
    outline: none
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}